<div cdkDropList (cdkDropListDropped)="drop($event)" style="display: flex; flex-wrap: wrap;">
  <ng-container *ngFor="let card of cards; let i = index">
    <app-card [card]="card" 
              [isSelected]="isSelected(i)"
              [isFirstSelected]="isFirstSelectedCard(i)"
              [isLastSelected]="isLastSelectedCard(i)"
              (toggle)="toggleSelect(i)"
              (delete)="deleteSelectedCards()"
              (dragHandle)="handleDrag($event)">
    </app-card>
  </ng-container>
</div>





























