<div cdkDropList class="cards-container" [cdkDropListData]="cards" 
     (cdkDropListDropped)="drop($event)" style="display: flex; flex-wrap: wrap;">
  <ng-container *ngFor="let card of cards; let i = index">
    <div cdkDrag [cdkDragData]="card">
      <app-card [card]="card" 
                (toggle)="toggleSelect(i)"
                [isFirstSelected]="isFirstSelected.bind(this, i)"
                [isLastSelected]="isLastSelected.bind(this, i)"
                (deleteSelected)="deleteSelectedCards()">
      </app-card>
    </div>
  </ng-container>
</div>
