
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
  }
  
  .drag-button {
    cursor: pointer;
  }
  
  
  