.outer-container {
  display: flex;
  justify-content: left; /* Center contents horizontally */
  margin-left: 1em;
}

.cards-container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%; /* Adjust maximum width as needed */
  margin-top: 20em; /* Add padding to keep cards away from edges */
}

/* Add any additional styles for cards as needed */
