<div (click)="toggleSelect($event)">
    <div style="margin: 10px; display: inline-block; text-align: center;">
      <mat-card style="position: relative;" [class.selected]="card.selected">
        
      </mat-card>      
      <div style="display: flex; justify-content: space-between;">
        <button *ngIf="card.selected" mat-icon-button cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </button>
        <button *ngIf="card.selected" mat-icon-button cdkDrag>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </div>
    </div>
</div>

  
  