<div class="outer-container">
  <div class="cards-container" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let card of cards; let i = index">
      <div class="draggable-container" cdkDrag cdkDragBoundary=".outer-container" [cdkDragDisabled]="!card.selected">
        <div class="card" [class.selected]="card.selected" (click)="toggleSelect(i)">
          <div class="card-content-container" style="position: relative;">
            <!-- Your card content here -->
          </div>
          <div class="drag-delete-buttons">
            <button *ngIf="isFirstSelected(i)" class="dragButton" cdkDragHandle>
              <mat-icon>drag_indicator</mat-icon>
            </button>
            <button *ngIf="isLastSelected(i)" class="deleteButton" (click)="deleteSelectedCards()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div *cdkDragPreview>
          <div class="preview" *ngIf="areAnyCardsSelected()">
            <ng-container *ngFor="let index of selectedCardIndices">
              <div class="card-preview" *ngIf="cards[index].selected">
                <!-- Clone card content here -->
                <div class="card-content-container" style="position: relative;">
                  <!-- Your card content here -->
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
