

.outer-container {
  margin-left: 0; /* Remove the left margin */
  height: 100%;
  width: 100%;
}


.cards-container {
  display: flex;
  flex-direction: row;
  max-width: 100%; /* Adjust maximum width as needed */
  margin-top: 18em; /* Add padding to keep cards away from edges */
  margin-bottom: 16em; 
}

/* card styling */
.card {
  margin: 1em; 
  display: inline-block; 
  text-align: center;
  padding: 0;
}

.card-content-container {
  border-radius: 1em;
  background-color: white;
  box-shadow: none;
  border: 0.2em solid #B6BED2;
  width: 15em;
  height: 10em;
}

.selected .card-content-container {
  border: 0.2em solid #4E5871; /* Border applied to mat-card when parent is selected */
  box-shadow: 0px 2.706px 9.471px rgba(89, 15, 253, 0.20);
}

.drag-delete-buttons {
  display: flex; 
  justify-content: flex-start; 
  width: 100%;
}

.dragButton, .deleteButton {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #FFFFFF;
  border: 0.2em solid #B6BED2;
  border-radius: 0.5em;
  margin-top: 0.5em;
  flex-shrink: 0; 
  margin: 0.5em;
  height: 2.5em;
}

.dragButton {
  width: 4.5em;
  margin-right: auto;
  position: relative;
  right: 0.5em;
}

.deleteButton {
  width: 2.5em;
  margin-left: auto;
  position: relative;
  left: 0.5em;
}

.dragButton-icon {
  margin-top: 0.1em;
}

/* -------- */
.preview {
  display: flex;
  flex-direction: row; /* Display the cards in a row */
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
}

.card-preview {
  margin: 1em;  /* Add some space between preview cards */
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cards-container.cdk-drop-list-dragging .draggable-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* ----------- */

.placeholder {
  display: flex;
  flex-direction: row; /* Display the cards in a row */
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
}

.card-placeholder {
  margin: 1em; 
  opacity: 0.5;
}

.hide-selected .card.selected {
  display: none;
}

/* ------------------- */

.cdk-drag-placeholder {
  opacity: 0;
}
