<div class="outer-container" cdkScrollable>
  <dts-select-container 
    (select)="onSelectionChange($event)"
    [selectOnDrag]="true"
    [selectOnClick]="true" 
    [dragOverItems]="false"
    [selectMode]="false"
    [custom]="true"
    [selectWithShortcut]="false"
    [disabled]="disableSelection"
    style="position: absolute; height: 100%;">
    <div class="cards-container" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let card of cards; let i = index">
        <div class="draggable-container"
          cdkDrag
          cdkDragBoundary=".cards-container"
          [cdkDragDisabled]="!card.selected"
          [dtsSelectItem]="card"
          [class.selected]="card.selected"
          (cdkDragStarted)="onDragStarted($event)"
          (cdkDragEnded)="onDragEnded()"
          style="margin-bottom: -10em;">

          <div class="card">
            <div class="card-content-container" style="position: relative;">
              <!-- Your card content here -->
            </div>
            <div class="drag-delete-buttons" cdkDragHandle *ngIf="areAnyCardsSelected()" >
              <button class="dragButton"  *ngIf="isFirstSelected(i)" (mouseenter)="onButtonMouseEnter()" (mouseleave)="onButtonMouseLeave()">
                <img class="dragButton-icon" src="assets/drag-button-icon.svg" style="width: 75%; height: 75%;">
              </button>
              <button class="deleteButton" *ngIf="isLastSelected(i)" (click)="deleteSelectedCards()" (mouseenter)="onButtonMouseEnter()" (mouseleave)="onButtonMouseLeave()">
                <img class="deleteButton-icon" src="assets/delete-button-icon.svg">
              </button>
            </div>
          </div>
          <div *cdkDragPreview>
            <div class="preview">
              <ng-container *ngFor="let index of selectedCardIndices">
                <div class="card" *ngIf="cards[index].selected">
                  <div class="card-content-container-preview" style="position: relative;">
                    <!-- Your card content here -->
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="drag-delete-buttons-preview">
              <button class="dragButton">
                <img class="dragButton-icon" src="assets/drag-button-icon.svg" style="width: 75%; height: 75%;">
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </dts-select-container>
  <button mat-button (click)="addMoreCards()" style="position: fixed;">Add Card</button>
</div>