.dts-no-select {
  user-select: none;
}

.dts-select-box {
  background: rgba(74, 67, 232, 0.08);
  border: 2px solid #5A0FFD;
  contain: layout;
  transform: translateZ(0);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}
.dts-select-box.dts-removing {
  
}

.dts-select-container:not(.dts-custom) .dts-select-item.selected {
  
}
.dts-select-container:not(.dts-custom) .dts-select-item.dts-range-start {
  
}
