/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    --dot-bg: #FEFEFE;
    --dot-color: #DEE4F1;
    --dot-size: 2px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }

  body {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  ::-webkit-scrollbar {
    border-radius: 30px; /* Border radius */
    height: 0.8em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FEFEFE;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4E5871; /* Color of the scrollbar handle */
    border-radius: 10em; /* Border radius of the scrollbar handle */
  }